<h2 style="text-align: center">Add your daily cost</h2><br/>

<form class="well form-horizontal" id="addCostForm" ng-submit="main.addCost()">
    <fieldset>

        <!-- Form Name -->
        <!-- Loading message -->
        <div ng-show="main.loading">
            <div class="alert alert-info">Loading <i class="glyphicon glyphicon-repeat spinner"></i> Loading... </div>
        </div>
        <!-- Success message -->
        <div ng-show="main.successMsg">
            <div class="alert alert-success">Success <i class="glyphicon glyphicon-thumbs-up"></i> {{ main.successMsg }} </div>
        </div>
        <!-- Error message -->
        <div ng-show="main.errorMsg">
            <div class="alert alert-warning">Error <i class="glyphicon glyphicon-thumbs-down"></i> {{ main.errorMsg }} </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Cost Name</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="cost_name" placeholder="Cost Name" class="form-control" type="text" ng-model="main.cost.costname">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Cost Price</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                    <input name="cost_price" placeholder="Cost Price" class="form-control" type="text" ng-model="main.cost.costprice">
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label">Pay date</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input name="payDate" id="payDate" placeholder="Click to choose day" class="form-control" type="text" ng-model="main.cost.paydate">
                </div>
            </div>
        </div>



        <!-- Select Basic -->

        <div class="form-group">
            <label class="col-md-4 control-label">Cost type</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select name="costType" ng-options="type for type in main.costtypes" ng-model="main.cost.costtype" class="form-control selectpicker">
                        <option value=''>Please select cost type</option></select>
                </div>
            </div>
        </div>

        <!-- Text area -->

        <div class="form-group">
            <label class="col-md-4 control-label">Cost Description</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <textarea class="form-control" name="costDescription" placeholder="Add more info about cost" ng-model="main.cost.costdescription"></textarea>
                </div>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class="btn btn-warning">Save <span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    $('#payDate').datepicker();
</script>