<h2 style="text-align: center">Pie charts</h2><br/>
<div class="row">
    <div class="col-md-6">
        <div id="piechart" style="width: 600px; height: 500px;"></div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div id="piechart_3d" style="width: 600px; height: 250px;"></div>
            </div>
            <div class="col-md-12">
                <div id="donutchart" style="width: 600px; height: 250px;"></div>
            </div>
        </div>
    </div>
</div>
<!--<div id="explodingpiechart" style="width: 900px; height: 500px;"></div>-->
<script type="text/javascript">


</script>