<h2 style="text-align: center">Pie charts</h2><br/>
<div class="row">
    <div class="col-md-6">
        <div class="input-group myselect">
            <select ng-options="type for type in costtypes" ng-model="costtype" ng-change="drawChart(costtype)" class="form-control selectpicker">
            </select>
        </div>
        <div id="piechart"></div>
    </div>
    <div class="col-md-6">
        <div id="piechart_3d"></div>
    </div>
    <div class="col-md-6">
        <div id="donutchart"></div>
    </div>
    <div class="col-md-6">
        <div id="explodingpiechart"></div>
    </div>
</div>