<div class="userContainer">
    <form ng-submit="main.doLogin(loginData);">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>User login</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" ng-model="main.loginData.username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" ng-model="main.loginData.password">
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" type="submit">Login</button>
                <!--<div ng-show="main.loading">
                    <p class="text-center"><span class="glyphicon glyphicon-repeat spinner"></span>Loading...</p>
                </div>-->
            </div>
        </div>
    </form>
</div>
<div class="userContainer" ng-show="main.loading">
    <div class="alert alert-info">
        <p class="text-center"><span class="glyphicon glyphicon-repeat spinner"></span> Loading...</p>
    </div>
</div>
<div class="userContainer" ng-show="main.successMsg">
    <div class="alert alert-success">
        <strong>Success!</strong> {{ main.successMsg }}.
    </div>
</div>
<div class="userContainer" ng-show="main.errorMsg">
    <div class="alert alert-warning">
        <strong>Warning!</strong> {{ main.errorMsg }}.
    </div>
</div>