<form class="well form-horizontal" ng-submit="main.doLogin(loginData);">
    <fieldset>
        <!-- Form Name -->
        <legend>Logi in to your wallet</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label">Username:</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input placeholder="Cost Name" class="form-control" type="text" id="username" ng-model="main.loginData.username">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Password:</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input placeholder="Cost Name" class="form-control" type="password" id="password" ng-model="main.loginData.password">
                </div>
            </div>
        </div>
        <!-- Loading message -->
        <div ng-show="main.loading">
            <div class="alert alert-info">Loading <i class="glyphicon glyphicon-repeat spinner"></i> Loading... </div>
        </div>
        <!-- Success message -->
        <div ng-show="main.successMsg">
            <div class="alert alert-success">Success <i class="glyphicon glyphicon-thumbs-up"></i> {{ main.successMsg }} </div>
        </div>
        <!-- Error message -->
        <div ng-show="main.errorMsg">
            <div class="alert alert-warning">Error <i class="glyphicon glyphicon-thumbs-down"></i> {{ main.errorMsg }} </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class="btn btn-warning">Login <span class="glyphicon glyphicon-log-in"></span></button>
            </div>
        </div>
    </fieldset>
</form>
