<div class="userContainer">
    <form ng-submit="register.regUser(regData);">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>User registration</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" ng-model="register.regData.username">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" ng-model="register.regData.email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" ng-model="register.regData.password">
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary" type="submit">Register</button>
                <!--<div ng-show="register.loading">
                    <p class="text-center"><span class="glyphicon glyphicon-repeat spinner"></span>Loading...</p>
                </div>-->
            </div>
        </div>
    </form>
</div>
<div class="userContainer" ng-show="register.loading">
    <div class="alert alert-info">
        <p class="text-center"><span class="glyphicon glyphicon-repeat spinner"></span> Loading...</p>
    </div>
</div>
<div class="userContainer" ng-show="register.successMsg">
    <div class="alert alert-success">
        <strong>Success!</strong> {{ register.successMsg }}.
    </div>
</div>
<div class="userContainer" ng-show="register.errorMsg">
    <div class="alert alert-warning">
        <strong>Warning!</strong> {{ register.errorMsg }}.
    </div>
</div>